<mat-nav-list>
    <div class="heading py-4">
        <img src="../../assets/fuuast_logo.png" alt="logo">
        <h1>FYP Management System</h1>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Applications</h2>
    <a mat-list-item router-link="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>
        Home
    </a>
    <a mat-list-item router-link="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item>
        <mat-icon>announcement</mat-icon> Announcement
    </a>
    <a mat-list-item>
        <mat-icon>keyboard_return</mat-icon> Log-Out
    </a>
    <a mat-list-item>
        <mat-icon>perm_contact_calendar</mat-icon> Meeting
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> Edit Profile
    </a>

</mat-nav-list>